html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
  }
  
  .matt {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('https://cdn.discordapp.com/attachments/455797135217131533/565920393379053568/Matt.png') no-repeat;
    /*
    background: cornflowerblue;
    background-image: url('https://raw.githubusercontent.com/vooblyofficial/start/master/imgs/voobly_official_alt3.png');
    */
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    animation: show-matt 1s linear forwards;
    animation-delay: 2s;
    z-index: -1;
  }
  
  .container {
    position: absolute;
    height: 100%;
    width: 100%;
    /*
    background: url('https://cdn.discordapp.com/attachments/454313539381886976/565713724904570881/mattsalsa.jpg') no-repeat;
    background: cornflowerblue;
    background-image: url('https://raw.githubusercontent.com/vooblyofficial/start/master/imgs/voobly_official_alt3.png');
  
    background-repeat: no-repeat;
    background-position: center;
    */
  }
  
  .left-column, .right-column {
    position: absolute;
    width: 50%;
    height: 100%;
  }
  
  .right-column {
    right: 0;
  }
  
  .panel {
    position: absolute;
    width: 100%;
    height: 25%;
    background: cornflowerblue;
    opacity: 1;
    overflow: hidden;
  }
  
  .left, .right {
    background-image: url('https://raw.githubusercontent.com/vooblyofficial/start/master/imgs/voobly_official_alt3.png');
    background-repeat: no-repeat;
  }
  
  .left:nth-child(1) {
    top: 0;
    background-position: 710px 160px;
    animation: slide-in 3s ease-out forwards;
  }
  
  .left:nth-child(2){
    top: 25%;
    background-position: 710px -110px;
    animation: slide-in 2.6s ease-in-out forwards;
    animation-delay: 0.2s;
  }
  
  .left:nth-child(3){
    top: 50%;
    background-position: 710px -380px;
    animation: slide-in 2.4s ease-in-out forwards;
    animation-delay: 0.4s;
  }
  
  .left:nth-child(4){
    top: 75%;
    background-position: 710px -650px;
    animation: slide-in 2.2s ease-in-out forwards;
    animation-delay: 0.6s;
  }
  
  .right:nth-child(1) {
    top: 0;
    background-position: -250px 160px;
    animation: slide-right 2.8s ease-in-out forwards;
  }
  
  .right:nth-child(2){
    top: 25%;
    background-position: -250px -110px;
    animation: slide-right 2.6s ease-in-out forwards;
    animation-delay: 0.2s;
  }
  
  .right:nth-child(3){
    top: 50%;
    background-position: -250px -380px;
    animation: slide-right 2.4s ease-in-out forwards;
    animation-delay: 0.4s;
  }
  
  .right:nth-child(4){
    top: 75%;
    background-position: -250px -650px;
    animation: slide-right 2.2s ease-in-out forwards;
    animation-delay: 0.6s;
  }
  
  .left {
    left: -100%;
  }
  
  .right {
    right: -100%;
  }
  
  
  @keyframes slide-in {
    50%, 70% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slide-right {
    50%, 70% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes show-matt {
    100% {
      visibility: visible;
    }
  }